/* modal --------------------------------- */
/* Modal container */
.styles_modal__gNwvD {
  border-radius: 1vw;
}
.styles_modalCenter__L9F2w {
  background-color: rgb(247, 187, 76);
}

.modal-div {
  min-width: 150px;
  min-height: 150px;
}
/* modal END ------------------------------ */

/* modal button --------------------------- */
.modal-button {
  border-radius: 20px;
  width: 17vw;
  max-height: 40px;
  line-height: 2.8vw;
  font-size: 2.5vw;
  padding: 0.3vw;
  background-color: rgb(255, 184, 77);
  margin: 0.5vw 2vw;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.651);
  border: none;
  transition: all 0.2s ease-in-out;
}
.modal-button:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.84);
  background-color: rgb(254, 175, 57);
}
@media screen and (min-width: 970px) {
  .modal-button {
    font-size: 25px;
    width: 175px;
    line-height: 1;
  }
}
/* modal button END ----------------------- */

/* form ----------------------------------- */
.formm input,
.formm button,
.formm textarea {
  width: 100%;
}

.formm input[value="Clear"] {
  display: none;
}

.formm-div {
  background-color: rgba(133, 133, 133, 0.062);
  padding: 1vw;
  border-radius: 1vw;
  box-shadow: 5px 5px 5px rgba(48, 48, 48, 0.308);
  background-color: rgb(255, 255, 255);
}

.send-button {
  background-color: #80d8ff;
  font-size: 140%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  height: 40px;
  margin-top: 5px;
}
/* form END ------------------------------- */
