/* modal --------------------------------- */
/* Modal container */
.styles_modal__gNwvD {
  border-radius: 1vw;
}
.styles_modalCenter__L9F2w {
  background-color: rgb(247, 187, 76);
}

.modal-div {
  min-width: 150px;
  min-height: 150px;
}
/* modal END ------------------------------ */

/* modal button --------------------------- */
.modal-button {
  /* color: rgb(221, 144, 71); */
  border-radius: 2vw;
  width: 17vw;
  line-height: 2.8vw;
  font-size: 2.5vw;
  padding: 0.3vw;
  /* background-color: rgb(221, 144, 71); */
  background-color: rgb(236, 172, 76);
  margin: 0.5vw 2vw;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.651);
  border: 2px solid rgba(0, 0, 0, 0.267);
  transition: all 0.1s ease-in-out;
}
.modal-button:hover {
  transform: scale(1.015);
  opacity: 0.9;
  border: 2px solid rgba(255, 255, 255, 0.267);
}
/* modal button END ----------------------- */

/* form ----------------------------------- */
.formm input:not([value="Clear"]),
.formm button,
.formm textarea {
  width: 100%;
}

.formm input[value="Clear"] {
  margin-top: 2vw;
  margin-left: 80%;
  display: none;
}

.formm-div {
  background-color: rgba(133, 133, 133, 0.062);
  padding: 1vw;
  border-radius: 1vw;
  box-shadow: 5px 5px 5px rgba(48, 48, 48, 0.308);
  background-color: rgb(255, 255, 255);
}

.send-button {
  border-radius: 20px;
  height: 40px;
  margin-top: 5px;
}
/* form END ------------------------------- */
