.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* card----------------------------------------------------- */
.card {
  position: relative;
  max-width: 45vw;
  margin-top: 4vmin;
  transition: all 0.4s ease-in-out;
  box-shadow: 5px 5px 5px rgba(36, 35, 35, 0.658);
}

/* shadow on hover */
.card:hover {
  box-shadow: 8px 8px 10px rgba(5, 5, 5, 0.658);
}

/* dim img on hover */
.card-img {
  display: block;
  transition: all 0.4s ease-in-out;
}
.card:hover .card-img {
  filter: brightness(60%);
}

/* border on hover */
.card-div {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-out;
  border: 0.1px solid rgba(0, 0, 0, 0.644);
}
.card-div:hover {
  border: 1vw solid rgb(255, 185, 80);
}
/* card end----------------------------------------------- */

/* card text---------------------------------------------- */
.card-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  text-align: center;
  z-index: 2;
  transform: scale(0.96) translateX(-50%) translateY(-50%) translateZ(2rem);
  transition: all 0.8s cubic-bezier(0.42, 0, 0, 1);
  opacity: 0;
}
.card:hover .card-text-container {
  opacity: 1;
  transform: scale(1) translateX(-50%) translateY(-50%) translateZ(2rem);
}

.card-text-container h1 {
  font-size: 4vw;
  color: #f0f0f0;
  margin-top: 25%;
  font-family: "Vollkorn", serif;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.card-text-container p {
  font-size: 2vw;
  line-height: 3vw;
  color: #f0f0f0;
  margin-top: 2vw;
  font-family: sans-serif;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .ani-shadow {
    animation: card--box-shadow 0.4s forwards;
  }
  .ani-brightness {
    animation: card-img--brightness 0.4s forwards;
  }
  .ani-border {
    animation: card-div--border 0.3s forwards;
  }
  .ani-container {
    animation: card-text--container 0.8s forwards;
  }

  @keyframes card--box-shadow {
    0% {
      box-shadow: 5px 5px 5px rgba(36, 35, 35, 0.658);
    }
    100% {
      box-shadow: 8px 8px 10px rgba(5, 5, 5, 0.658);
    }
  }
  @keyframes card-img--brightness {
    0% {
      filter: none;
    }
    100% {
      filter: brightness(60%);
    }
  }
  @keyframes card-div--border {
    0% {
      border: none;
    }
    100% {
      border: 1vw solid rgb(255, 185, 80);
    }
  }
  @keyframes card-text--container {
    0% {
      opacity: 0;
      transform: scale(0.96) translateX(-50%) translateY(-50%) translateZ(2rem);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateX(-50%) translateY(-50%) translateZ(2rem);
    }
  }
}

@media (pointer: coarse) {
  .ani-shadow {
    animation: card--box-shadow 0.4s forwards;
  }
  .ani-brightness {
    animation: card-img--brightness 0.4s forwards;
  }
  .ani-border {
    animation: card-div--border 0.3s forwards;
  }
  .ani-container {
    animation: card-text--container 0.8s forwards;
  }

  @keyframes card--box-shadow {
    0% {
      box-shadow: 5px 5px 5px rgba(36, 35, 35, 0.658);
    }
    100% {
      box-shadow: 8px 8px 10px rgba(5, 5, 5, 0.658);
    }
  }
  @keyframes card-img--brightness {
    0% {
      filter: none;
    }
    100% {
      filter: brightness(60%);
    }
  }
  @keyframes card-div--border {
    0% {
      border: none;
    }
    100% {
      border: 1vw solid rgb(255, 185, 80);
    }
  }
  @keyframes card-text--container {
    0% {
      opacity: 0;
      transform: scale(0.96) translateX(-50%) translateY(-50%) translateZ(2rem);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateX(-50%) translateY(-50%) translateZ(2rem);
    }
  }
}
