@import url("https://fonts.googleapis.com/css?family=Vollkorn:400i&display=swap");

.intro-div {
  text-align: center;
  padding: 3vw 3vw 3vw 12vw;
  background-color: rgb(18, 85, 112);
  border-radius: 200px 0px 200px 0px;
  /* box-shadow: 10px 10px 10px; */
  margin: 2.3vw 2vmin;
  border: 1px solid rgb(18, 85, 112);
}

.intro-text {
  color: rgb(238, 170, 107);
  /* color: #ffcb9a; */
  font-family: "Vollkorn", serif;
  font-size: 5.5vw;
  line-height: 1.1;
  /* text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0, 0, 0, 0.5),
    4px 4px 5px rgba(0, 0, 0, 0.7), 0px 0px 7px rgba(0, 0, 0, 0.4); */
}
